<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test ajout adresse</title>
    </head>

    <body>
    	<h2>Formulaire d'ajout d'une adresse</h2>
        {{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
    </body>
</html>